// colors

$main-text: #7f8c97; // main text
$link: #acb7c0; // anchor tags
$background: #e9f0f5; // body background color
$body-bg: #485274; // dark blue
$nav-container-bg: #000000; // black
$nav-bg: darken($body-bg, 10%);
$text-color: #ffffff; // white


$color-1: #303e49; // blue dark
$color-2: #c03b44; // red
$color-3: #ffffff; // white
$color-4: #75ce66; // green
$color-5: #f0ca45; // yellow

// fonts 

$primary-font: 'Droid Serif', serif;
$secondary-font: 'Open Sans', sans-serif;


// navigation

$nav-height-S: 80px;
$nav-height-M: 170px;
$nav-items: 5;

// animation

$animation-duration: 0.5s;