@import 'bourbon/bourbon'; // http://bourbon.io/

@import '../../assets/partials/layout'; // colors, fonts etc...

@import '../../assets/partials/mixins'; // custom mixins

@import '../../assets/partials/variables'; // responsive grid and media queries


/* --------------------------------

Form

-------------------------------- */
.cd-record{
  width:100%;
  margin: 2em auto;
  padding: 1em;
  max-width: $M; // breakpoints inside partials > _layout.scss
  background: $record-bg;
  @include rounded-corners(10px);
  &.cd-not-active{
    display: none;
  }
}


.cd-form {
  width: 90%;
  max-width: $M; // breakpoints inside partials > _layout.scss
  margin: 2em auto;

  @include clearfix;

  fieldset {
    margin: 24px 0;
  }

  legend {
    padding-bottom: 10px;
    margin-bottom: 10px;
    font-size: 2rem;
    border-bottom: 1px solid $color-form3;
  }

  textarea {
    margin-bottom: 10px;
  }

  h3 {
    font-size: 1.6rem;
    margin-top:10px;
    color: $color-form2;
    margin-bottom: 10px;
  }


}

